* {
    padding: 0;
    margin: 0;
}

#container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5% 90% 5%;
    height: 100vh;
    width: 100%;
}

#header {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

#body {
    grid-row: 2 / 3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
}

#footer {
    grid-row: 3 / 4;
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.left {
    display: inline;
    margin-left: 30px;
    grid-column: 1 / 2;
}

.center {
    display: inline;
    grid-column: 2 / 3;
}

.right {
    display: inline;
    grid-column: 3 / 4;
    padding-left: 100px;
}

#header > .right {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
}

#footer .center {
    margin: 0 auto;
}

input {
    width: 480px;
    height: 34px;
    border: 1px gray solid;
    border-radius: 25px;
}

button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    font-size: 14px;
    font-family: arial, sans-serif;
}

button:hover {
    text-decoration: underline;
    cursor: pointer;
}


.left > .btop {
    color: #222;
    padding: 15px 0 0 10px;
}

.bcen {
    background-color: #f2f2f2;
    height: 30px;
    width: 150px;
    margin: 15px 0 0 54px;
}

.bbot {
    color: #70757a;
    padding: 15px 20px 0 0;
}

#leaf {
    height: 14px;
    width: 14px;
}

#profile {
    border-radius: 50%;
}

#logo {
    width: 480px;
}

#apps {
    width: 40px;
    height: 40px;
}