* {
    padding: 0;
    margin: 0;
}

#container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5% 90% 5%;
    height: 100vh;
    width: 100%;
}

#header {
    grid-row: 1 / 2;
}

#body {
    grid-row: 2 / 3;
    margin: auto;
}

#footer {
    grid-row: 3 / 4;
    background-color: #f2f2f2;
}

.left {
    display: inline;
    margin-left: 30px;
}

.right {
    display: inline;
    margin-left: 100px;
}

#logo {
    width: 320px;
    height: 132px;
}

button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    font-size: 14px;
    font-family: arial, sans-serif;
}

button:hover {
    text-decoration: underline;
    cursor: pointer;
}